node_modules
router_main_init.js
webpack-energy-router.js
energy-router-output.log
er-output*
webclient/bower_components
webclient/ethercat/bower_components
.level_db/
.persistent/

documentation/
coverage/

.*.un~

#config.json
#config_*.json
