
/*
Layout

Basic layout classes.

Styleguide 2.0
*/

/*
Background Colors

.color_name - [yellow, orange, red, lightblue, blue, darkblue, lightgreen, green, darkgreen, gray]
.bg-100 - 100% color.
.bg-80  - 80% color.
.bg-60  - 60% color.
.bg-40  - 40% color.
.bg-20  - 20% color.

Markup:
<div class="color_name">
    <div class="bg-100">Content</div>
    <div class="bg-80" >Content</div>
    <div class="bg-60" >Content</div>
    <div class="bg-40" >Content</div>
    <div class="bg-20" >Content</div>
</div>

Styleguide 2.4
*/

/*
* grayscale
*/

.gray .bg-100,
.gray-100 {
  background-color: black;
  color: #fdfdfd;
}

.gray .bg-80,
.gray-80 {
  background-color: #333333;
  color: #fdfdfd;
}

.gray .bg-60,
.gray-60 {
  background-color: #666666;
  color: #fdfdfd;
}

.gray .bg-40,
.gray-40 {
  background-color: #999999;
  color: #454545;
}

.gray .bg-20,
.gray-20 {
  background-color: #cccccc;
  color: #454545;
}

.white {
	background-color: #ffffff;
	color: #000000;
}

/*
* secondary colors
*/

/*
* palette 1
*/

.yellow .bg-100,
.yellow-100 {
  background-color: #ffc82a;
  color: #fdfdfd;
}

.yellow .bg-80,
.yellow-80 {
  background-color: #ffd355;
  color: #fdfdfd;
}

.yellow .bg-60,
.yellow-60 {
  background-color: #ffde7f;
  color: #fdfdfd;
}

.yellow .bg-40,
.yellow-40 {
  background-color: #ffe9aa;
  color: #454545;
}

.yellow .bg-20,
.yellow-20 {
  background-color: #fff4d4;
  color: #454545;
}

.orange .bg-100,
.orange-100 {
  background-color: #e16d00;
  color: #fdfdfd;
}

.orange .bg-80,
.orange-80 {
  background-color: #e78a33;
  color: #fdfdfd;
}

.orange .bg-60,
.orange-60 {
  background-color: #eda766;
  color: #fdfdfd;
}

.orange .bg-40,
.orange-40 {
  background-color: #f3c599;
  color: #454545;
}

.orange .bg-20,
.orange-20 {
  background-color: #f9e2cc;
  color: #454545;
}

.red .bg-100,
.red-100 {
  background-color: #711c2f;
  color: #fdfdfd;
}

.red .bg-80,
.red-80 {
  background-color: #8d4959;
  color: #fdfdfd;
}

.red .bg-60,
.red-60 {
  background-color: #aa7782;
  color: #fdfdfd;
}

.red .bg-40,
.red-40 {
  background-color: #c6a4ac;
  color: #454545;
}

.red .bg-20,
.red-20 {
  background-color: #e3d2d5;
  color: #454545;
}

/*
* palette 2
*/

.lightgreen .bg-100,
.lightgreen-100 {
  background-color: #acc13a;
  color: #fdfdfd;
}

.lightgreen .bg-80,
.lightgreen-80 {
  background-color: #bdcd61;
  color: #fdfdfd;
}

.lightgreen .bg-60,
.lightgreen-60 {
  background-color: #cdda89;
  color: #fdfdfd;
}

.lightgreen .bg-40,
.lightgreen-40 {
  background-color: #dee6b0;
  color: #454545;
}

.lightgreen .bg-20,
.lightgreen-20 {
  background-color: #eef3d8;
  color: #454545;
}

.green .bg-100,
.green-100 {
  background-color: #6d8300;
  color: #fdfdfd;
}

.green .bg-80,
.green-80 {
  background-color: #8a9c33;
  color: #fdfdfd;
}

.green .bg-60,
.green-60 {
  background-color: #a7b566;
  color: #fdfdfd;
}

.green .bg-40,
.green-40 {
  background-color: #c5cd99;
  color: #454545;
}

.green .bg-20,
.green-20 {
  background-color: #e2e6cc;
  color: #454545;
}

.darkgreen .bg-100,
.darkgreen-100 {
  background-color: #00534a;
  color: #fdfdfd;
}

.darkgreen .bg-80,
.darkgreen-80 {
  background-color: #33756e;
  color: #fdfdfd;
}

.darkgreen .bg-60,
.darkgreen-60 {
  background-color: #669892;
  color: #fdfdfd;
}

.darkgreen .bg-40,
.darkgreen-40 {
  background-color: #99bab7;
  color: #454545;
}

.darkgreen .bg-20,
.darkgreen-20 {
  background-color: #ccdddb;
  color: #454545;
}

/*
* palette 3
*/

.lightblue .bg-100,
.lightblue-100 {
  background-color: #66b4d3;
  color: #fdfdfd;
}

.lightblue .bg-80,
.lightblue-80 {
  background-color: #85c3dc;
  color: #fdfdfd;
}

.lightblue .bg-60,
.lightblue-60 {
  background-color: #a3d2e5;
  color: #fdfdfd;
}

.lightblue .bg-40,
.lightblue-40 {
  background-color: #c2e1ed;
  color: #454545;
}

.lightblue .bg-20,
.lightblue-20 {
  background-color: #e0f0f6;
  color: #454545;
}

.blue .bg-100,
.blue-100 {
  background-color: #00709b;
  color: #fdfdfd;
}

.blue .bg-80,
.blue-80 {
  background-color: #338daf;
  color: #fdfdfd;
}

.blue .bg-60,
.blue-60 {
  background-color: #66a9c3;
  color: #fdfdfd;
}

.blue .bg-40,
.blue-40 {
  background-color: #99c6d7;
  color: #454545;
}

.blue .bg-20,
.blue-20 {
  background-color: #cce2eb;
  color: #454545;
}

.darkblue .bg-100,
.darkblue-100 {
  background-color: #003f57;
  color: #fdfdfd;
}

.darkblue .bg-80,
.darkblue-80 {
  background-color: #336579;
  color: #fdfdfd;
}

.darkblue .bg-60,
.darkblue-60 {
  background-color: #668c9a;
  color: #fdfdfd;
}

.darkblue .bg-40,
.darkblue-40 {
  background-color: #99b2bc;
  color: #454545;
}

.darkblue .bg-20,
.darkblue-20 {
  background-color: #ccd9dd;
  color: #454545;
}
